<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="openCVsharp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <openCVsharp.Properties.Settings>
            <setting name="ratio" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="minsize_w" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="w_rate" serializeAs="String">
                <value>1.3</value>
            </setting>
            <setting name="uh_rate" serializeAs="String">
                <value>1.5</value>
            </setting>
            <setting name="Address" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="scale" serializeAs="String">
                <value>1.11</value>
            </setting>
            <setting name="minNeighbors" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="maxsize_w" serializeAs="String">
                <value>200</value>
            </setting>
        </openCVsharp.Properties.Settings>
    </userSettings>
</configuration>